.grid-box{
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: 1fr auto 1fr;
}
header{
    grid-row: 1/2;
    grid-column: 2/3;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    margin: 5px;
}
img{
    max-height: 170px;
    max-width: auto;
    grid-row: 1/2;
    grid-column: 1/2;
    border: 2px solid black;
    border-radius: 5px;
    margin: 5px;
}
main{
    grid-row: 2/3;
    grid-column: 2/3;
    padding: 10px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
}
article{
    margin: 10px;
}
.border{
    border: 2px solid black;
    border-radius: 5px;
    margin: 5px;
}
nav{
    border: 2px solid black;
    border-radius: 5px;
    margin: 5px;
}
footer{
    border: 2px solid black;
    border-radius: 5px;
    margin: 5px;
    text-align: center;
}